<div>
    <h2>Navegación</h2>
    <a href="http://localhost:3000/products">Productos</a>
    <a href="http://localhost:3000/carts/{{cart}}">Carrito</a>
    <a href="http://localhost:3000/profile">Perfil</a>
    <a href="http://localhost:3000/users/logout">Cerrar sesion</a>
</div>

<h3>Tu perfil</h3>

<p>Nombre completo: {{full_name}}</p>
<p>Edad: {{age}}</p>
<p>Email: {{email}}</p>
<p>Rol: {{role}}</p>